.checkout {

.scroll-content {
    margin-top: 56px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

.card-ios{
    margin-right: 0px;
    margin-left: 0px;
    width:100% !important;
  }

  .card-content-md{
  		padding-left: 0px;
  		padding-right: 0px;
      padding-bottom: 0px;
   }

  .card-md{
    margin-right: 0px;
    margin-left: 0px;
    width:100% !important;
  }

  .item-md{
  	border-bottom: 1px solid #e0e0e0;
  }

}
